<div class="container">
  <div class="error-container">
    <h1 class="error-code">Ошибка 404</h1>
    <p class="error-message">Извините, но запрашиваемая вами страница не найдена.</p>
    <p>Похоже, что страница, которую вы ищете, была удалена, изменила название или временно недоступна.</p>
    <ul class="error-options">
      <li>Проверьте правильность введенного URL-адреса.</li>
      <li>Перейдите на <a routerLink ="/">главную страницу</a> сайта.</li>
      <li>Используйте поиск на сайте, чтобы найти нужную информацию.</li>
    </ul>
    <p>Если проблема сохраняется, пожалуйста, свяжитесь с нашей службой поддержки.</p>
    <p>Контакты службы поддержки:</p>
    <ul class="support-contacts">
      <li>Email: <a href="mailto:support@example.com">support@example.com</a></li>
      <li>Телефон: +123 456 7890</li>
    </ul>
  </div>
</div>
