<div>
  <ul class="btn_box">
    <li>
      <p-button (onClick)="unsubscribeOrderStream()" label="Остановить стрим по порядку"></p-button>
    </li>
    <li>
      <p-button (onClick)="startAllStream()" label="Запустить оба стрима"></p-button>
    </li>
    <li>
      <p-button (onClick)="unsubscribeRandomStream()" label="Остановить рандомный стрим"></p-button>
    </li>
  </ul>
  <div class="container">
    <div class="block">
      <h1>По порядку</h1>
      <ul *ngFor="let item of orderNum">
        <li>{{ item }}</li>
      </ul>
    </div>
    <div class="block">
      <h1>Рандомные числа</h1>
      <ul *ngFor="let item of randomNum">
        <li>{{ item }}</li>
      </ul>
    </div>
  </div>
</div>
