<div>
  <form [formGroup]="bookForm" (ngSubmit)="submit()">
    <input
      type="text"
      placeholder="Название книги"
      pInputText
      formControlName="title"
      minlength="2"
      maxlength="8"
      pattern="[А-Яа-яЁё]*"
      required
    />
    <div *ngIf="bookForm.controls['title'].invalid && (bookForm.controls['title'].dirty || bookForm.controls['title'].touched)">
      <div *ngIf="bookForm.controls['title'].hasError('minlength')">
        <small  class="p-error">
          Мин длина 2 символа
        </small>
      </div>
      <div *ngIf="bookForm.controls['title'].hasError('required')">
        <small  class="p-error">
          Поле должно быть заполнено
        </small>
      </div>
      <div *ngIf="bookForm.controls['title'].hasError('pattern')">
        <small  class="p-error">
          Только русские буквы, без пробелов,
          <br />
          без цифр, без спец. символов
        </small>
      </div>
    </div>
    <input
      type="text"
      placeholder="Автор"
      pInputText
      formControlName = "author"
      minlength="2"
      maxlength="8"
      pattern="[А-Яа-яЁё]*"
      required
    />
    <div *ngIf="bookForm.controls['author'].invalid && (bookForm.controls['author'].dirty || bookForm.controls['author'].touched)">
      <div *ngIf="bookForm.controls['title'].hasError('minlength')">
        <small id="username-help" class="p-error">
          Мин длина 2 символа
        </small>
      </div>
      <div *ngIf="bookForm.controls['author'].hasError('required')">
        <small  class="p-error">
          Поле должно быть заполнено
        </small>
      </div>
      <div *ngIf="bookForm.controls['author'].hasError('pattern')">
        <small  class="p-error">
          Только русские буквы, без пробелов,
          <br />
          без цифр, без спец. символов
        </small>
      </div>
    </div>
    <p-button type = "submit"
              label="Создать"
              [disabled]="bookForm.controls['title'].invalid || bookForm.controls['author'].invalid"
    ></p-button>
  </form>
</div>
<div>

  <p-table [value]="books" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Номер</th>
        <th>Название книги</th>
        <th>Автор</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-books let-rowIndex="rowIndex">
      <tr>
        <td>{{ rowIndex + 1 }}</td>
        <td>{{ books.title }}</td>
        <td>{{ books.author }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
