<div class="container">
  <ul *ngFor="let item of writers" class="card">
    <li>name: {{ item.name }}</li>
    <li>nationality: {{ item.nationality }}</li>
    <li>birthDate: {{ item.birthDate }}</li>
    <li>famousWorks: {{ item.famousWorks }}</li>
  </ul>
</div>
<hr>

<h1>Pipe + 5</h1>
<div class="container">
  <ul *ngFor="let num of numbers">
    <li class="card">{{ num | addFive }}</li>
  </ul>
</div>
<hr>
<div>
  <h1>Pipe date</h1>
  <p class="card">Дата: {{date | date: 'dd/MM/yyyy'}}</p>
</div>
